<!DOCTYPE html>
<!-- Created By Yuan Chen
Version 07/18/2020 -->
<html>

<body>
  <div class="container text-center">
    <hr>
    <!-- <h4></span> <a href="https://www.yuanchen.tech">Sitemap</a></h4> -->
    <p>Copyright 2020 <a href="https://resumesurvivor.herokuapp.com">Resume Survivor</a></p>
    <a href="/about"> About</a> · <a href="/faq"> FAQ</a> · <a
      href="/privacy"> Privacy Policy</a> · <a
      href="/terms">Terms and Conditions</a> · <a
      href="/contact">Contact Us</a> · <a
      href="/career">Join Us</a>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
  </div>
</body>

</html>