<!DOCTYPE html>
<!-- Created By Yuan Chen
Version 07/18/2020 -->
<html>
<body>
  <div class="container text-center">
    <hr>
    <!-- <h4></span> <a href="https://www.yuanchen.tech">Sitemap</a></h4> -->
    <p>Copyright 2020 <a href="https://resumesurvivor.herokuapp.com">Resume Survivor</a></p>
    <a href="https://addons.heroku.com/"> About</a> · <a href="https://addons.heroku.com/"> FAQ</a> · <a href="https://addons.heroku.com/"> Privacy Policy</a> · <a href="https://github.com/heroku/python-getting-started/blob/master/Pipfile">Terms and Conditions</a> · <a href="https://github.com/heroku/python-getting-started/blob/master/Pipfile">Contact Us</a> · <a href="https://github.com/heroku/python-getting-started/blob/master/Pipfile">Join Us</a>
    <p>      </p>
    <p>      </p>
    <p>      </p>
    <p>      </p>
  </div>
</body>
</html>