{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Resume Survivor</h1>
    <p>An Intelligent Resume Builder </p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"></span> Getting Started</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/chenyuan99/Forkaia-ResumeSurvivor"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <!-- <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div> -->
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3></span> Legal</h3>
      <ul>
        <li><a href="https://github.com/heroku/python-getting-started/blob/master/Pipfile">Terms and Conditions</a></li>
        <li><a href="https://addons.heroku.com/"> Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
      </ul>
      <h3></span> Helpful Links</h3>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for Heroku</a></li>
      </ul>
    </div>
  </div> <!-- row -->
  <!-- <div id="footer"><p>Copyright 2020 <a href="https://resumesurvivor.herokuapp.com">Resume Survivor</a></p></div> -->
</div>
{% endblock %}