django
gunicorn
django-heroku
flask==1.1.2
flask-uploads==0.2.1
flask-wtf==0.14.3
wtforms==2.3.1
werkzeug==0.16.0
absl-py==0.9.0
appdirs==1.4.3
astor==0.8.1
attrs==19.3.0
backcall==0.1.0
bleach==3.1.4
cachetools==4.1.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cycler==0.10.0
data==0.4
decorator==4.4.2
defusedxml==0.6.0
demjson==2.2.4
distlib==0.3.0
docx2txt==0.8
dtw==1.4.0
EasyTkinter==1.1.0
entrypoints==0.3
fastdtw==0.3.4
filelock==3.0.12
funcsigs==1.0.2
future==0.18.2
gast==0.2.2
google-auth==1.14.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.13.2
grpcio==1.28.1
h5py==2.10.0
idna==2.9
importlib-metadata==1.6.0
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.17.0
Jinja2==2.11.2
joblib==0.14.1
json5==0.9.4
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
jupyterlab==2.1.0
jupyterlab-server==1.1.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
llvmlite==0.31.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
mock==4.0.2
mysql-connector-python==8.0.20
nbconvert==5.6.1
nbformat==5.0.6
nltk==3.5
nose==1.3.7
notebook==6.0.3
numba==0.48.0
numpy==1.18.2
oauthlib==3.1.0
opt-einsum==3.2.0
panda==0.3.1
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
Pillow==7.1.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.6.1
pynvvm==1.0.2
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
python-sql==1.1.0
pytz==2019.3
pywinpty==0.5.7
pyzmq==19.0.0
regex==2020.4.4
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.7
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
six==1.14.0
sklearn==0.0
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
urllib3==1.25.8
virtualenv==20.0.17
wcwidth==0.1.9
webencodings==0.5.1
wrapt==1.12.1
xlrd==1.2.0
xmltodict==0.12.0
zipp==3.1.0
